body{
    text-align: center;
    background-color: #foe8c5;
}
div {
    margin-top: 15px;
}
.image-section{
    display: flex;
    justify-content: center;
}

.section{
    margin-right: 25px; 
    margin-left: 25px; 
    background-color: white;
}